body {
  background-color: mediumseagreen;
}
h1 {
  font-size: 60px;
  text-align: center;
  font-weight: bolder;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: crimson;
}
#sha {
  margin-left: 350px;
}
fieldset {
  width: 200px;
  height: 200px;
}
